.residential {
    background-image: url('https://s3.amazonaws.com/uscx-media/houses321/hp2/slides/slide-1.jpg');
    background-color: white;
    padding-top: 20em;
    background-size: 100% 20%;
    background-repeat: no-repeat;
}